<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>QGroundControl</string>
	<key>CFBundleIconFile</key>
	<string>macx.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.qgroundcontrol.qgroundcontrol</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>253</string>
	<key>NOTE</key>
	<string>Open source ground control app provided by QGroundControl dev team</string>
	<key>NSCameraUsageDescription</key>
	<string>QGC uses UVC camera devices for FPV</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
